<div class="text-center">
  <h2 id="surveyName">{{name}}</h2>
  <i class="fa-solid fa-comment fa-2xl" style="color: #ffffff;"></i>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>

  {{#each questions as |question| }}
  
  <p id='question{{@index}}'>{{question.question}}</p>

  {{#if question.answer1}}
    <button type="submit" class="buttsClass" type="answer1" value="{{question.answer1}}"
      onclick="f(this.value,'{{@index}}')">{{question.answer1}}</button>
  {{/if}}

  {{#if question.answer2}}
    <button type="submit" class="buttsClass" type="answer2" value="{{question.answer2}}"
      onclick="f(this.value,'{{@index}}')">{{question.answer2}}</button>
  {{/if}}

  {{#if question.answer3}}
    <button type="submit" class="buttsClass" type="answer3" value="{{question.answer3}}"
      onclick="f(this.value,'{{@index}}')">{{question.answer3}}</button>
  {{/if}}

  {{#if question.answer4}}
  <button class="buttsClass" type="answer4" value="{{question.answer4}}" onclick="f(this.value,'{{@index}}')">
    {{question.answer4}}</button>
  {{/if}}

  <p>Answer:</p>
  <p id='answer{{@index}}'></p>
  <div style="margin-bottom: 15px"></div>
  {{/each}}

  <form class="form survey-question">
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
  <p id="userId" style="color: transparent;">{{id}}</p>

</div>

<script src="../js/form.js"></script>
<script>
  function f(val, index) {
    if (index == 0) {
      document.getElementById(`answer0`).innerHTML = val;
    }
    if (index == 1) {
      document.getElementById(`answer1`).innerHTML = val;
    }
    if (index == 2) {
      document.getElementById(`answer2`).innerHTML = val;
    }
    if (index == 3) {
      document.getElementById(`answer3`).innerHTML = val;
    }
  }
</script>